on early-init
    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/stune
    mount cgroup none /dev/stune schedtune

on early-init
    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/stune
    mount cgroup none /dev/stune schedtune


on fs
    wait /dev/block/platform/bootdevice/by-name/super

    # Mount logical vendor partition (dynamic partition)
    mount ext4 /dev/block/mapper/vendor /vendor ro

    # Create Microtrust (Beanpod) TEE VFS node
    mknod /dev/teei_vfs_conf c 501 0
    chmod 0660 /dev/teei_vfs_conf
    chown system system /dev/teei_vfs_conf

    # Start TEE daemon once vendor is available
    start teei_daemon


service teei_daemon /vendor/bin/teei_daemon
    class core
    user system
    group system
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    seclabel u:r:recovery:s0


service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service-recovery
    class var-main
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

# Added Triggers for FBEv2 Decryption
on property:vendor.sys.listener.registered=true
    start keymaster-4-0-beanpod
    start gatekeeper-1-0

on property:hwservicemanager.ready=true
    start keystore2
