on early-init
    # Mandatory for Keystore2
    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/cpuset/foreground
    write /dev/cpuset/foreground/tasks ""
    
    # Create RAM-based home for Keystore (Bypasses FBE lock)
    mkdir /tmp/keystore 0700 keystore keystore

on property:hwservicemanager.ready=true
    start keystore2

service keystore2 /system/bin/keystore2 /tmp/keystore
    class early_hal
    user keystore
    group keystore log
    disabled
    seclabel u:r:recovery:s0

on post-fs
    # Fix for Keystore2 / libprocessgroup
    mkdir /dev/cgroup_info
    copy /system/etc/cgroups.json /dev/cgroup_info/cgroups.json
    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset
    chmod 0664 /dev/cpuset/tasks
